*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   
}
header{
    font-weight:bolder;
    font-size: 32px;
    background-color: rgb(19, 63, 88);
    padding: 10px;
    text-align: center;
    color:#fff;
}
nav a{
    text-decoration:none;
    color:inherit;
    font-size:16px;
    }
          
nav li{
    display:inline-block;
    width:150px;
    height:30px;
    padding:5px 10px;
    background-color:rgb(5, 64, 119);
    text-align:center;
    color:#fff;
    position:relative;
    color: #ffffff;
    transition: all.3s;
}
          
nav li:hover{
    background-color:#fff;
    color:#000;
    }
          
nav li>ul{
    display:none;
    }

nav li:hover>ul{
    display:block;
    position:absolute;
    top:30px;
    left:0px;
}
section{
    grid-column: 1/4;
    background-color: rgb(113, 154, 204);
    padding: 300px;

}

aside{
    grid-column: 4/5;
    background-color: rgb(255, 202, 181);
    padding: 10px;

}

footer{
    background-color: rgb(38, 45, 46);
    padding: 20px;
    color: azure;
    width: 100%;
    bottom: 0;
    position: fixed;
}
div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
