*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   
}
header{
    font-weight:bolder;
    font-size: 32px;
    background-color: rgb(2, 43, 66);
    padding: 10px;
    text-align: center;
    color: azure;
    
}

nav{
    padding: 15px;
    margin: 0;
    padding: 0;
    font-size:  20px;
    
    
    
}  /*menu*/

.navegacion{
    width: 1000px;
    margin: 30px auto;
    background: #fff;


}
.navegacion ul{
    list-style: none;
    background-color: rgb(2, 43, 66);
    
}
.menu > li{
    position: relative;
    display: inline-block;    
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #f39c74;
    font-family: 'Open sans';
    text-decoration: none
    
}
.menu li a:hover{
    color: #ffffff;
    transition: all.3s;
}
    /*sud menu*/

.sudmenu1{
    position: absolute;
    background: rgb(15, 9, 9);
    width: 120%;
    display: none;
}
.sudmenu1 li a{
    display: block;
    padding: 15px;
    color: tomato;
    font-family: 'Open sans';
    text-decoration: none;
}


.menu li:hover .sudmunu{
    display: block;

}


section{
    grid-column: 1/4;
    background-color: rgb(113, 154, 204);
    padding: 300px;

}

aside{
    grid-column: 4/5;
    background-color: rgb(255, 202, 181);
    padding: 10px;

}

footer{
    background-color: rgb(38, 45, 46);
    padding: 20px;
    color: azure;
    width: 100%;
    bottom: 0;
    position: fixed;
}
div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
